body{
    background: url(../img/Wallpaper.jpg)no-repeat center center fixed;
    background-size: cover;
}
.main-section{
margin:25px auto;
margin-top: 100px;
padding: 0;
}
.modal-content{
    background-color: rgb(174, 73, 187);
    opacity:.86;
    padding: 0 20px;
    box-shadow: 0px 0px 3px #f17ff1;

}
.user-img{
    margin-top:-50px ;
    margin-bottom: 35px;

}
.user-img img{
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 3px #848484;
    border-radius: 95%;
}
.olv{
    color: black;
}