<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Inicio</title>
    <!-- Jquery-->
    <script src="https://www.google.com.co/"></script>

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Los iconos tipo Solid de Fontawesome-->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css"
    />
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css
    <link rel="stylesheet" type="text/css" href="../static/CSS/estilos.css" th:href="@{/css/estilo.css}">-->
  </head>
  <body>
    <div class="content">
      <div class="col-sm-8 main-section letf">
        <div class="letf">
          <img
            src="../static/img/avatar.png"
            width="200"
            height="200"
            id="imagen"
          />
        </div>
        <button type="submit" class="btn btn-prymary">Nueva</button>
      </div>
    </div>
  </body>
</html>
